<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="conexionDB" connectionString="Data Source = 192.168.1.49; Initial Catalog = dbSistemaGestion; User ID = sa; Password = P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="CapaPresentacion.My.MySettings.dbSistemaGestionConnectionString"
      connectionString="Data Source=192.168.1.49;Initial Catalog=dbSistemaGestion;User ID=sa;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>